
{{>_navbar}}
{{>_msg}}
<div class="container">
<h2>{{name}}</h2> 
  
  <p>{{description}}</p>
  <p>{{endDate}}</p>
  <p>Dono(a):{{owner}}</p>
    {{#each items}}
    
         <div class="card" >
             <div class="container mt-2">
             </div>
    <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    
    <a href="/item/{{_id}}" class="btn btn-success">Ver item</a>
  </div>
</div>
    {{else}}
    {{/each}}
</div>