
{{>_navbar}}
{{>_msg}}
<div class="container">
<h2>{{name}}</h2> 
  
    <h6>Descrição</h6>  
  <p>{{description}}</p>
  <h6>Data de encerramento</h6>
  <p>{{endDate}}</p>
  <h6>Dono(a)</h6>
  <p>{{owner}}</p>
  {{#if admin}}
  <button class="btn btn-danger">Encerrar leilão</button>
  {{/if}}
  <br>
    {{#each items}}
    
         <div class="card" >
             <div class="container mt-2">
             </div>
    <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    
    <a href="/item/{{_id}}" class="btn btn-success">Ver item</a>
  </div>
</div>
    {{else}}
    {{/each}}
</div>
